.form {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
}
.nameStyle {
  display: block;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
}
.input {
  display: inline-block;
  margin-left: 16px;
}
.tel {
  display: inline-block;
  margin-left: 36px;
}
.button {
  display: block;
  padding: 10px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
